* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    position: fixed;
    font-size: 4rem;
    transform: translate(-50%, -50%);
    top: 0;
    left: 50%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}